{% extends 'base.html' %}
{% load static %}


{% block title %}
    Категории
{% endblock title %}


{% block content %}
<section class="categories">
    <div class="container">
        <div class="categories__form-block">
            <form action="" method="get" class="categories__form">
                {% csrf_token %}
                <input type="text" name="title" id="id_title" placeholder="Введите название категории: например Супы" class="categories__form-input">
                <button class="categories__form-btn">Найти</button>
            </form>
        </div>
        {% if categories %}
        <ul class="categories__list list">
            {% for cat in categories  %}
            <li class="categories__item">
                <a href="{% url 'dishes_cats' pk=cat.pk %}" class="categories__link link">{{cat.title}}</a>
                {% if cat.pic %}
                <img src="{{cat.get_upload_url}}" alt="Картинка категории" class="categories__pic">
                {% endif %}
            </li>    
            {% endfor %}     
        </ul>
        {% endif %}
    </div>
</section>
    
{% endblock content %}
    
    