{% extends 'food_tube/index.html' %}
{% load static %}


{% block title %}
    Восстановление пароля
{% endblock title %}


{% block header %}
<header class="header">
    <div class="container">
        <div class="header__main">
            <div class="header__logo-block">
                <a href="/" class="header__logo-link link">Food<span class="header__logo-span">Tube</span></a>
            </div>
        </div>
    </div>
</header>
{% endblock header %}
    
    

{% block content %}
<section class="reset">
    <div class="container">
        <h2 class="reset__heading">Забыли пароль ?</h2>
        <p class="reset__descr">Введите свой адрес электронной почты, чтобы получить новый пароль.</p>
        <form method="post" class="reset__form">
            {% csrf_token %}
            {% if form.email.errors %} 
            <div class="reset__error">
                <span class="reset-error-span">
                    {{ form.email.errors }}
                </span>
            </div> 
            {% endif %}
            <div class="reset__form-block">
                <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" class="reset__email" placeholder="Введите Email">
                <button class="reset_btn btn" type="submit">
                    <svg class="reset_btn-svg" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                        <path d="M120-160v-640l760 320-760 320Zm80-120 474-200-474-200v140l240 60-240 60v140Zm0 0v-400 400Z"/>
                    </svg>
                </button>
            </div>
        </form>
    </div>
</section>   
{% endblock content %}