{% extends 'food_tube/index.html' %}
{% load static %}

{% block title %}
    Успех
{% endblock title %}


{% block header %}
<header class="header">
    <div class="container">
        <div class="header__main">
            <div class="header__logo-block">
                <a href="/" class="header__logo-link link">Food<span class="header__logo-span">Tube</span></a>
            </div>
        </div>
    </div>
</header>    
{% endblock header %}


{% block content %}
<section class="complete">
    <div class="container">
        <h2 class="complete__heading">Все получилось !!!</h2>
        <p class="complete__descr">Ваш пароль был изменен. Вы можете 
            <a href="{% url 'login' %}" class="complete__link link">
                войти на сайт
            </a>
        </p>
    </div>
</section>
{% endblock content %}