{% extends 'base.html' %}


{% block title %}
    Регистрация
{% endblock title %}


{% block header %}
<header class="header">
    <div class="container">
        <div class="header__main">
            <div class="header__logo-block">
                <a href="/" class="header__logo-link link">Food<span class="header__logo-span">Tube</span></a>
            </div>
        </div>
    </div>
</header>   
{% endblock header %}
    

{% block content %}

<section class="register">
    <div class="container">
        <div class="register__main">
            <div class="register__main-logo">
                <div class="register__logo-block">
                    <a href="/" class="register__logo-link link register__logo">Food<span class="register__logo-span">Tube</span></a>
                </div>
            </div>
            <div class="register__main-form">
                <form action="" method="post" enctype="multipart/form-data" class="register__form">
                    {% csrf_token %}
                    {{form.email}}
                    {{form.first_name}}
                    {{form.last_name}}
                    {{form.city}}
                    <div class="register__main-pass1">
                        {{form.password1}}
                        <button type="button" class="register__show-pass btn" id="showPasswordButton">
                            <svg id="eyeIcon1" class="register__show-pass-svg" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#a4a4a4">
                                <path d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z"/>
                            </svg>
                        </button>
                    </div>
                    <div class="register__main-pass2">
                        {{form.password2}}
                        <button type="button" class="register__show-pass btn" id="showPasswordButton1">
                            <svg id="eyeIcon2" class="register__show-pass-svg" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#a4a4a4">
                                <path d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z"/>
                            </svg>
                        </button>
                    </div>
                    <button type="submit" class="register__form-btn btn">Регистрация</button>
                </form>
            </div>
        </div>
    </div>
</section>
    
{% endblock content %}
    
    